{% extends 'layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
    <div class="container admin">
        <h1>{{ block('title') }}</h1>

        {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
        {% endfor %}

        <div class="row">
            <div class="col-sm-offset-3 col-sm-6" >
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation" class="active"><a href="#billets" data-toggle="pill">Billets</a></li>
                    <li role="presentation"><a href="#comments" data-toggle="pill">Commentaires</a></li>
                    <li role="presentation"><a href="#users" data-toggle="pill">Utilisateurs</a></li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <div class="row tab-pane fade in active" id="billets">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th>Date d'ajout</th>
                      
                        <th>Action</th>
                       
                    </tr>
                    </thead>
                    <tbody>
                  {% for billet in billets %}
<tr>
<td><a class="billetTitle" href="{{ path('billet', { 'id': billet.id }) }}">{{ billet.title }}</a></td>
<td>{{ billet.content|truncate(70)|striptags|raw }}</td>
     <td>{{ billet.dateAjout|date("d/m/y") }}</td>
<td>
<a href="{{ path('admin_billet_edit', { 'id': billet.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-wrench"></span></a>
<button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#billetDialog{{ billet.id }}"><span class="glyphicon glyphicon-trash"></span>
</button>
<div class="modal fade" id="billetDialog{{ billet.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
</div>
<div class="modal-body">
Voulez vous vraiment effacer ce billet ?
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<a href="{{ path('admin_billet_delete', { 'id': billet.id }) }}" class="btn btn-danger">Confirm</a>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</td>
</tr>
{% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('admin_billet_add') }}"><button type="button" class="btn btn-primary btn-outline btn-lg">Créer un nouveau billet</button></a>
            </div>

            <div class="row tab-pane fade" id="comments">
                <div class="col-sm-offset-1 col-sm-10">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Billet</th>
                            <th>Auteur</th>
                            <th>Contenu</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
<tr>
<td><a class="billetTitle" href="{{ path('billet', { 'id': comment.billet.id }) }}">{{ comment.billet.title }}</a></td>
<td>{{ comment.author.username }}</td>
<td>{{ comment.content | truncate(60) }}</td>
<td>
<a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-wrench"></span></a>
<button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"><span class="glyphicon glyphicon-trash"></span>
</button>
<div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
</div>
<div class="modal-body">
Voulez vous vraiment supprimer ce commentaire ?
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}" class="btn btn-danger">Confirm</a>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</td>
</tr>
{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row tab-pane fade" id="users">
                <div class="col-sm-offset-3 col-sm-6">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Utilisateur</th>
                            <th>Rôle</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
<tr>
<td>{{ user.username }}</a></td>
<td>
{% if user.role == 'ROLE_ADMIN' %}
Admin
{% else %}
User
{% endif %}
</td>
<td>
<a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-wrench"></span></a>
<button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}"><span class="glyphicon glyphicon-trash"></span>
</button>
<div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
</div>
<div class="modal-body">
Voulez vous vraiment supprimer cet utilisateur ?
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<a href="{{ path('admin_user_delete', { 'id': user.id }) }}" class="btn btn-danger">Confirm</a>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</td>
</tr>
{% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('admin_user_add') }}"><button type="button" class="btn btn-primary btn-outline btn-lg">Ajouter un utilisateur</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}