{% extends "layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ block('title') }}</h1>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="container-fluid">
    {{ form_start(billetForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(billetForm.title, 'Titre', { 'label_attr':  {
                'class': 'col-sm-3 control-label'
            }}) }}
            <div class="col-sm-12">
                {{ form_errors(billetForm.title) }}
                {{ form_widget(billetForm.title, {'attr': {
                    'class': 'form-control',
                    'placeholder': 'Insérez votre titre'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(billetForm.content, 'Contenu', { 'label_attr':  {
                'class': 'col-sm-3 control-label'
            }}) }}        
            <div class="col-sm-12">                        
                {{ form_errors(billetForm.content) }}
                {{ form_widget(billetForm.content, {'attr': {
                    'rows': '12'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> {{ messageButton }}
                </button>
            </div>
        </div>
    {{ form_end(billetForm) }}
</div>
{% endblock %}
