{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Billet simple pour l'Alaska</h1>
{% for billet in billets %}
    <div class="container index">
        <div class="row">
             <div class="col-sm-offset-1 col-sm-11 col-md-11 billet">
                <h2><a href="{{ path('billet', { 'id': billet.id }) }}">{{ billet.title }}</a></h2>
                <div class="date">
                    <strong>Posté le {{ billet.dateAjout|date("d/m/y") }} 
                    {% if billet.dateModif != "0000-00-00" %}
                        (modifié le : {{ billet.dateModif|date("d/m/y") }})
                    {% endif %}</strong>
                </div>
                <div class="comments">
                    {{ billet.nbComments }} commentaires
                </div>
                <div class="content">
                    <p>{{ billet.content | truncate(600)|raw }}</p>
                </div>
                <div class="suite">
                    <p><a href="{{ path('billet', { 'id': billet.id }) }}">Lire la suite</a></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
